html {
  font-size: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-size: small;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1.231;
  font-size: 0.625em;
  background: #7cdbff;
}
input, select, textarea {
  font-size: 100%;
}
h1, h2, h3, h4, h5, h6, h7, p, ul, li {
  margin: 0;
  padding: 0;
  font-size: 100%;
}
ol, ul, li {
  list-style: none;
}
.container {
  width: 528px;
  margin: 50px auto 0;
}
p.file {
  position: relative;
  width: 528px;
  height: 36px;
  margin-bottom: 20px;
  overflow: hidden;
  background: url(../img/file.png) no-repeat right center;
}
.file label {
  display: block;
  color: #fff;
  font: 700 15px/36px Helvetica, Verdana, sans-serif;
}
.file .txtInput {
  position: absolute;
  top: 0;
  right: 0;
  width: 169px;
  height: 36px;
  z-index: 2;
  font-size: 2em;
  opacity: 0;
  filter: alpha(opacity=00);
}
.file .val {
  position: absolute;
  top: 0;
  left: 0;
  width: 336px;
  height: 36px;
  padding: 0 6px;
  line-height: 36px;
  z-index: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #444;
  font: 700 15px/36px Helvetica, Verdana, sans-serif;
}
.file .choose {
  position: absolute;
  top: 0;
  right: 0;
  width: 168px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  z-index: 1;
  color: #fff;
  text-transform: uppercase;
  font: 700 15px/36px Helvetica, Verdana, sans-serif;
}
.file .txtInput:hover + .choose {
  color: #5f5f5f;
}
.file .txtInput:focus + .choose,
.file .txtInput:active + .choose {
  outline: 0;
  box-shadow: 0 1px 1px 0 rgba(255,255,255,0.4),
              1px 0 1px 0 rgba(255,255,255,0.4),
              2px 3px 7px 0 rgba(0,0,0,0.4) inset,
              0 0 1px 0 #09c;
  -webkit-box-shadow: 0 1px 1px 0 rgba(255,255,255,0.4),
              1px 0 1px 0 rgba(255,255,255,0.4),
              2px 3px 7px 0 rgba(0,0,0,0.4) inset,
              0 0 1px #09c;
}